<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/verify" method="post">
<h1>Login form</h1>
<br>
<label for="name">Enter your name:</label>
<input type="text" name="username">
<br>
<label for="password">Enter your password:</label>
<input type="text" name="password">
<br>
<input type="submit"  value="Login">
</form>

</body>
</html>